 {% extends "base.html" %}


{% block aboutactive %} active {% endblock aboutactive %}

 {% block body%}

    <div class="container my-5 ps-5 py-3">
        <h2 class="text-light mb-4 text-center">About Me</h2>
        <div class="row">
            <div class="col-md-4">

                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7r5vXQuTXuJ_FrCfIk5HnjZV2KyvtoihzBg&s"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Designer</h5>
                        <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur
                            quos necessitatibus labore quis alias assumenda esse
                        </p>
                        <a href="#" class=" btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Kb3IRL1FFaZzQU8jktS7GXpQYdk77pKCHw&s"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Developer</h5>
                        <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur
                            quos necessitatibus labore quis alias assumenda esse
                        </p>
                        <a href="#" class="btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcfU-8a4LjTtYDUD5hlMnfnbW_ucppNTGrUw&s"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">CI/CD Tester</h5>
                        <p class="card-text text-secondary">Java & C++ basic fundamental projects
                            (Console Based). <br> Click to view
                        </p>
                        <a href="#" class="btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% endblock body%}

