 {% extends "base.html" %}

{% block projectactive %} active {% endblock projectactive %}

 {% block body%}
    <div class="container my-5 ps-5 py-3">
        <h2 class="text-light mb-4 text-center">My Projects</h2>
        <div class="row">
            <div class="col-md-4">

                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvozbLg-RlxRZecu6NI32iGl1dTqX6MXWddg&s"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">First HTML Website</h5>
                        <p class="card-text text-secondary">My first website which i built while using
                            only HTML. <br> Click to view
                        </p>
                        <a href="#" class=" btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRomRSWYbAn90GXm5q-guk9jAvo6auQn9vow&s"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Components for web</h5>
                        <p class="card-text text-secondary">HTML & CSS Components like navbar, sidebar,
                            card and more. <br> Click to view
                        </p>
                        <a href="#" class="btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card text-light" style="width: 18rem; background-color: #000; border: none;">
                    <img src="https://www.orientsoftware.com/Themes/Content/Images/blog/2023-08-22/java-vs-cplusplus-what-do-you-know-about-oop.jpg"
                        class="card-img-top" alt="University Image"
                        style="height: 180px; width: 100%; object-fit: fill; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Java and C++</h5>
                        <p class="card-text text-secondary">Java & C++ basic fundamental projects
                            (Console Based). <br> Click to view
                        </p>
                        <a href="#" class="btn btn-outline-light">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 {% endblock body%}

  